/* nav items space */
.nav-item-space>ul>li{
    margin-right: 25px;
    padding-right: 25px;
}
/* carousel caption center and img darken */
.carousel-caption{
    top: 30%;
}
.carousel-item>img{
    filter: brightness(45%);
}
section{
    margin-bottom: 130px;
}
 /* footer customize */
 footer{
    height: 472px;
 }
.fa-brands{
    color: white;
}